:root{
    --white: #FFFFFF;
    --black: black;
}
.menu-conteudo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}
.menu{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 0.01rem solid #22837B;
    box-shadow: 0 0 10px 2px crimson;
}
.menu-bg{
    background-color: var(--white); 
    opacity: 0.5;
    background-position: center center;
    color: #22837B;
    display: flex;
    max-height: 3rem;
    text-align: center;
    justify-content: center;
    border-right: 15px;
}
.menu ul li a{
    display: block;
    padding: 2px 10px;
    font-size: 25px;  
    position: relative;
    text-align: center;
    justify-content: top;
}
.menu ul{
    list-style: none;
    display: flex;
}
.black-bg{
    background-image : url('/assets/img/img1.svg');        
    background-size: cover;
    background-position: center center;
    color: turquoise;
}
.white-bg{
    background-image : url('/assets/img/img2.svg');        
    background-size: cover;
    background-position: center center;
    color:#101C41;
}
.conteudo-principal {
    max-width: 120rem;
    margin: 0 auto;
    padding: 10px    10px;
}
.conteudo {
    max-width: 65rem;
    border-left: 20px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 50vh;
    text-align: left;
}
.espaco-menu{
    height: 100px;
    background-image : url('/assets/img/img1.svg');
}
h1{
    font-size: 45px;
}
h2{
    font-size: 35px;
}
p{
    font-size: 30px;
}

h3{
    font-style: italic;
    font-size: 30px;
}
a{
    text-decoration: none;
    color: #101C41;  
}
aside a{
    color:crimson;
}

.disciplinas div div p{
    font-size: 25px;
    font-style: italic;
}

.disciplinas div div p a{
    font-weight: bold;
}
.udem p a{
    color: turquoise;
}
.empresas div h2 a{
    color: turquoise; 
}
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
    counter-reset: grid-counter;
    text-align: center;
    line-height: 1px;
}
.grid div p a{
    color: #101C41;
}
.grid img{
    width: 80px;
    height: 80px;
    position: center;
    
}
.img{
    margin-left: auto;
    margin-right: auto 
}
.fechar-menu{
    display: none;
}
@media(max-width: 1500px){
    aside div h1 a{
        font-size: 37px;
    }
    .menu ul li a{
        font-size: 25px;
    }
}
@media(max-width: 1400px){
    aside div h1 a{
        font-size: 35px;
    }
    .menu ul li a{
        font-size: 23px;
    }
}
@media(max-width: 1300px){
    aside div h1 a{
        font-size: 33px;
    }
    .menu ul li a{
        font-size: 20px;
    }
} 
@media(max-width: 1200px){
    aside div h1 a{
        font-size: 31px;
    }
    .menu ul li a{
        font-size: 18px;
    }
} 
@media(max-width: 1100px){
    aside div h1 a{
        font-size: 29px;
    }
    .menu ul li a{
        font-size: 15px;
    }
} 
@media(max-width: 1000px){
    aside div h1 a{
        font-size: 27px;
    }
    .menu ul li a{
        font-size: 13px;
    }
}
@media(max-width: 900px){
    aside div h1 a{
        font-size: 25px;
    }
    .menu ul li a{
        font-size: 10px;
    }
}
@media (max-width: 800px){
    .grid{
        grid-template-columns: 1fr;
    }
    .menu{
        bottom: 0;
    }
    .menu-conteudo{
        height: 10px;
    }
    .menu-conteudo, .menu-conteudo ul{
        flex-direction: column;
        justify-content: center;
    }
    .menu{
        display: none;
    }
    aside div h1 a{
        font-size: 40px;
    }
    .menu ul li a{
        font-size: 18px;
    }
    .fechar-menuu::after{
        content: '≡';
        position: fixed;
        z-index: 2;
        top: 20px;
        right: 20px;
        background: crimson;
        color: var(--white);
        font-size: 25px;
        line-height: 20px;
        width: 10px;
        height: 10px;
        text-align: center;
        padding: 10px;
        cursor: pointer;
    }
    .fechar-menu:checked~.menu{
        display: block;
        opacity: 1;
        max-height: 90px;
    }
    .fechar-menu:checked~.fechar-menuu::after{
        content: '×';
    }
    h2{
        font-size: 27px;
    }
    .espaco-menu{
        height: 0;
    }
    .fechar-menu:checked~.espaco-menu{
        height: 100px;
    }
}